body {
  /*padding-top:150px;*/
  background: url('../assets/congruent_outline.png');
}

#content-container {
	background: url('../assets/halftone.png');
}

#whole-page-container {
	background: url('../assets/congruent_outline.png');
}