#slides_container {
  width: 1280px;
  height: 720px;
  cursor: move;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#slides_container img {
  max-width:100%;
  max-height:100%;
}

#slider_container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 720px;
}

#weclome_header {
  font-family: 'Vast Shadow';
  font-size: 42px;
}

#phone_number {
  font-family: 'Cabin Sketch';
  font-weight: bold;
  font-size: 50px;
}

#hours_title {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Cabin Sketch';
}

/**************************/
/* JSSOR Slider components*/
/**************************/

.jssora051 {
  display:block;
  position:absolute;
  cursor:pointer;
}

.jssora051 .a {
  fill:none;
  stroke:#fff;
  stroke-width:360;
  stroke-miterlimit:10;
}

.jssora051:hover {
  opacity:.8;
}

.jssora051.jssora051dn {
  opacity:.5;
}

.jssora051.jssora051ds {
  opacity:.3;
  pointer-events:none;
}
