
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Super Bowl News</h3>
  </div>
  <div class="panel-body">
    <p><b>Ready for the Big Game?</b></p>
    <p>
    Call to Pre-Order and reserve your time slot for delivery! 
    Due to high the high volume, we limit our menu selections around game time, so please be sure
    to check out the <a href="assets/superbowl_2018.pdf"> SUPER BOWL MENU by clicking here.</a>
    </p>
    
    <p>This menu is effective Feb 4th, 12pm - 6pm only</p>
    <p>Thank you for your cooperation!</p></br>
  </div>
</div>

