<nav class="navbar navbar-default">
  <div class="container-fluid" style="background: url('assets/retina_wood.png');">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      <a href="/" class="navbar-brand">
        <img id="navbar-logo" src="assets/SM_logo_small.png"/>
      </a>
      <!-- <a class="navbar-brand" href="index.html">South Mouth Wings</a> -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="navbar_home" class="navbar-title"><a href="index.html">Home</a></li>
        <li id="navbar_menu" class="navbar-title"><a href="menu.html">Menu</a></li>
        <li id="navbar_locate" class="navbar-title"><a href="location.html">Find Us</a></li>
        <li id="navbar_sauces" class="navbar-title"><a href="sauces.html">Our Sauces</a></li>
        <li class="navbar-title"><a href="assets/application.pdf">Apply</a></li>
        <li class="navbar-title"><a id="navbar-title-order" href="https://lazybuffs.com/south-mouth-wings">Order Now</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>$( "#{{page.navbartitle}}" ).addClass("active");</script>